<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSFunnyLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B687F1531BE35EB9005CB2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B687F1671BE35EB9005CB2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B687F1721BE35EB9005CB2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
